apiVersion: v1
kind: Secret
metadata:
  name: sealed-secrets-custom-key
  namespace: {{ sealed_secrets_namespace }}
  labels:
    sealedsecrets.bitnami.com/sealed-secrets-key: active
type: kubernetes.io/tls
data:
  tls.crt: {{ sealed_secrets_tls_crt }}
  tls.key: {{ sealed_secrets_tls_key }}
